body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4c4949;
}

.todolist {
  padding: 20px;
  border: 1px solid #fff;
  background-color: #678ab8;
  border-radius: 20px;
}

.btn-delete {
  border-radius: 5px;
  border: 1px solid #fff;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  cursor: pointer;
  transition: .5s;
}

.btn-delete:hover {
  background-color: #fff;
  color: #678ab8;
}

.btn-delete:active {
  transform: scale(.95);
}